# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build outputs
build/
dist/
*.spec

# Virtual environments
venv/
env/
.venv/

# Windows
Thumbs.db
desktop.ini

# App/package outputs
*.exe
*.msix
*.msixupload
*.msixbundle
*.appx
*.appxbundle

# Certificates / private keys
*.pfx
*.cer
*.key
*.pem

# Local app data / configs
cursor_presets.json
cursor_config.json
cursor_settings.json
CursorSwarm_settings.json
cursor_themes.json
cursor_shape_profiles.json
custom_multi_colour_presets.json
